.login-page {
  width: 100%;
  overflow-x: hidden;
}
.card {
  margin: 10% auto 0 auto !important;
  border: 0;
  box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
  padding: 64px 35px 110px;
}

.form-control:focus {
  box-shadow: none;
}

.form-floating > .form-control:-webkit-autofill {
  padding-top: 2.625rem;
  padding-bottom: 1.625rem;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border-radius: 0.3rem;
}

@media screen and (max-width: 415px) {
  .card {
    padding: 10px;
    margin: 30% auto 0 auto !important;
  }
}
